*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Pangolin', cursive;
    
}
/* ----------------------- navbar ------------------------------ */
nav{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    align-items: center;
    background: #00783e;
    min-height: 10vh;
    color: white;

}
.logo{
    grid-column: 2/3;
    padding-top: 10px;
}
.logo img{
    width: 200px;
}
.contact{
    justify-self: end;
    font-family: 'Pangolin', cursive;
}
/* ----------------------- Home ------------------------------ */
#home{
    min-height: 90vh;
}
.home img{
    width: 100%;
    position: relative;
    top: 25%;
}
.home-content {
    font-size: 1em;
    margin-top: 20%;
}
.home-content h1{
    color: #00783e;
}
.home-content h5{
    color: #cae3d7;
}
.home-content p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 
.line-head{
    display: flex;
    flex-direction: row;
}
.line{
    width: 10%;
    height: 6px;
    background: #00783e;
    border-radius: 10%;
}
.line-1{
    width: 5%;
    height: 5px;
    background: #cae3d7;
    margin-left: 10px;
}
.line-2{
    width: 5px;
    height: 5px;
    background: #cae3d7;
    margin-left: 10px;
}
.png{
    position: absolute;
    top: 50%;
    left: 40%;
}

/* ----------------------- To-Do-List ------------------------------ */

.list-head h1{
    color: #00783e;
}

.to-do-list{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr ));
    justify-items: center;
}
#list-1{

}
.card{
    border: none;
    box-shadow:  -3px -3px 7px #ffffff73,
				2px 2px 5px rgba(94, 104, 121, 0.288 );
}
.card-title{
    color: #00783e;
}
.card-text{
    color: #c7c7c7;
    font-family: 'poppins';
}
#list-2{
    margin-top: 50px;
}
.card-3 img{
    width: 100%;
    height: 200px;
}




/* ----------------------- Sales ------------------------------ */

.sales{
    width: 100%;
    height: 100vh;
}
.sales-home{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    
    
}
.sales-img{
    position: relative;
    top: 15%;
}
.sales-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-image: 1px solid green;
}
.sales-content h1{
    padding-top: 30px;
    font-weight: 900;
    color: #00783e;
}
.sales-content p{
    font-size: .8em;
    font-family: 'poppins';
}

/* ----------------------- Contact ------------------------------ */
#contact{
    width: 100%;
    height: 35vh;
    background: #3f6e23;
    margin-top: 50px;
}
.contact-head h1{
    padding-top: 10px;
    color: #fff;
}
.contact-logo i{
    color: #fff;
    font-size: 30px;
    padding: 10px;
}
.footer p{
    color: #cae3d7;
    margin-bottom: auto;
}
.register{
    margin-top: 100px;
}
.re-img img{
    position: relative;
    top: 15%;
}









@media only screen and (max-width: 950px ){
  .to-head{
      /* margin-top: 50%; */
  }
}
@media only screen and (max-width: 700px){
    .to-head{
        margin-top: 70%;
    }
  }
  @media only screen and (max-width: 550px){
    .to-head{
        margin-top: 300%;
    }
  }
  @media only screen and (max-width: 375px){
    .to-head{
        margin-top: 280%;
    }
  }
  @media only screen and (max-width: 360px){
    .to-head{
        margin-top: 340%;
    }
  }
  @media only screen and (max-width: 320px){
    .to-head{
        margin-top: 400%;
    }
  }